@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color:#d9b000
}


@layer utilities {
    .clip-path-circle-0 {
      clip-path: circle(0% at 100% 100%);
    }
    .clip-path-circle-full {
      clip-path: circle(150% at 100% 100%);
    }
  }
  